.lagrimas{
    background-image: url(../../images/lagrimas-na-areia.jpeg);
}

.saudade{
    background-image: url(../../images/a-saudade-e-constante.jpeg);
}

.homem{
    background-image: url(../../images/homem-lata2.jpg);
}

.peao{
    background-image: url(../../images/peao-de-cristo.jpg);
}